/*------------------------------
    Header Area
------------------------------*/
.header-area{
    position: relative;
    z-index: 1;
    &.header-area-bg{
        background-image: url(../img/bg/header-bg.jpg);
        background-position: center;
        background-size: cover;
    }
    &:after{
        position: absolute;
        left: 0;
        top: 0;
        @include gradient-left-right(rgb(225, 0, 106), rgb(0, 20, 96));
        width: 100%;
        height: 100%;
        opacity: .90;
        content: '';
        z-index: -1;
    }
    .header-slider{
        .single-header-slide-item{
            padding-top: 110px;
            padding-bottom: 130px;
            h1{
                color: $white;
                font-size: 62px;
                text-transform: uppercase;
                span{
                    font-weight: 300;
                    display: block;
                }
                margin-bottom: 20px;
            }
            p{
                font-size: 20px;
                color: $white;
            }
            .header-btn-group{
                margin-top: 35px;
                .img-btn{
                    margin-right: 17px;

                }
            }
        }
    }
} 
